@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@100;200;300&display=swap');

:root{
    --blue: #764AF1; 
    --gray: DBDFFD;
    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

*{
    font-family: var(--poppins);
}

.container{
font-size: 13px;
}

.card{
    border: 0;
    width: 60rem;
}

.bg{
    background: var(--blue);
    height: 120vh;
}

.title{
    font-family: var(--montserrat);
    font-weight: 800;
}


.btn-primary{
    background: transparent;
    border-color: var(--blue);
    color: var(--blue);
}

.btn-secondary{
    background: transparent;
    border-color: var(--gray);
    color: var(--gray);
}

span{
    font-size: 20px;
}
p{
    font-size: 12px;
}

scroll {
    max-height: 10rem;
    overflow: auto;
  }
  
  .scroll::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .scroll::-webkit-scrollbar:vertical {
    width: 6px;
  }
  
  .scroll::-webkit-scrollbar-button:increment,
  tbody::-webkit-scrollbar-button {
    display: none;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background: #91D5F5;
    border-radius: 10px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 10px;
    width: 6px;
  }
  